* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Graphik";
    src: url("../assets/fonts/Graphik-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Graphik";
    src: url("../assets/fonts/Graphik-Medium.woff2");
    font-weight: 500;
}

body {
    background-color: #181818;
    color: #FFFFFF;
    font-family: "Graphik", sans-serif;
}

h1, h2, h3 {
    font-weight: 400;
}

.page-header {
    margin-bottom: 35px;
}

.main-nav {
    max-width: 1095px;
    padding: 20px 30px 20px 39px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.logo {
    margin-right: 116px;
    padding: 10px;
}

.logo__img {
    width: 186px;
}

.main-nav__list {
    display: flex;
    margin-right: 174px;
    gap: 31px;
}

.main-nav__item {
    list-style: none;
}

.main-nav__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    line-height: 150%;
    letter-spacing: 0.01em;
}

.btn {
    font-family: "Graphik", sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    font-size: 17px;
    line-height: 147%;
    letter-spacing: 0.01em;
    cursor: pointer;
    font-weight: 500;
}

.main-nav__button {
    min-width: 140px;
    height: 52px;
    padding: 14px 40px;
}

.description {
    padding-top: 50px;
    margin-bottom: 100px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.description__title {
    font-size: 80px;
    font-weight: 500;
    line-height: 88px;
    text-align: center;
    max-width: 730px;
    margin: 0 auto 37px auto;
    letter-spacing: 0.2px;
}

.description__subtitle {
    font-size: 20px;
    text-align: center;
    max-width: 580px;
    line-height: 30px;
    margin: 0 auto 95px auto;
    letter-spacing: 0.01em;
}

.description__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    gap: 35px;
}

.description__btn {
    min-width: 180px;
    padding: 20px 40px;
    height: 65px;
}

.btn-primary {
    background-color: #4452FEFF;
    border: transparent;
}

.interface-image {
    max-width: 1555px;
    max-height: 840px;
}

.description__image {
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.description__image::after {
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
    width: 100%;
    height: 65%;
    bottom: -18%;
}

.features {
    padding: 62px 0;
    margin-bottom: 100px;
}

.features__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 27px;
    letter-spacing: 0.2px;
}

.features__subtitle {
    font-size: 20px;
    text-align: center;
    max-width: 605px;
    line-height: 30px;
    margin: 0 auto 80px auto;
    letter-spacing: 0.2px;
}

.features__content {
    margin: 0 auto;
    max-width: 1090px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__list {
    max-width: 270px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.features__list-item {
    list-style: none;
}

.features__list-item-title {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.item-title__text {
    position: relative;
    margin-left: 13px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    max-width: 155px;
}

.features__list-item-title::before {
    content: "";
    display: inline-block;
    margin-top: 7px;
    background-size: cover;
    margin-right: 13px;
}

.item-title--spoons::before {
    width: 26px;
    height: 24px;
    background-image: url('../assets/icons/features/spoons.svg');
}

.item-title--alien::before {
    width: 30px;
    height: 30px;
    background-image: url('../assets/icons/features/alien.svg');
}

.item-title--infinity::before {
    width: 42px;
    height: 19px;
    background-image: url('../assets/icons/features/infinity.svg');
}

.features__list-item-text {
    font-size: 16px;
    line-height: 24px;
    max-width: 250px;
}

.proposals {
    padding: 50px 0;
    margin-bottom: 100px;
}

.proposals__title {
    text-align: center;
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
}

.proposals__subtitle {
    font-size: 20px;
    text-align: center;
    max-width: 570px;
    line-height: 30px;
    margin: 0 auto 54px auto;
    letter-spacing: 0.2px;
}

.proposals__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
    list-style: none;
}

.proposals__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 480px;
    min-height: 625px;
    padding: 40px 35px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.15);
}

.proposals__card-title {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin-bottom: 30px;
    text-align: center;
}

.proposals__card-subtitle {
    max-width: 270px;
    color: #5C5C5C;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
}

.proposals__card-button {
    min-width: 160px;
    padding: 16px 36px;
    height: 52px;
}

.proposals__card-image {
    width: 100%;
}

.gallery {
    padding: 50px 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery__title {
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
}

.gallery__subtitle {
    font-size: 20px;
    max-width: 570px;
    line-height: 30px;
    margin-bottom: 54px;
    letter-spacing: 0.2px;
    text-align: center;
}

.gallery__images {
    max-width: 1090px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px 33px;
    margin-bottom: 44px;
    list-style: none;
}

.gallery__image {
    border-radius: 12px;
    height: 285px;
    max-width: 225px;
}

.gallery__image--big {
    max-width: 400px;
}

.gallery__button {
    min-width: 160px;
    padding: 14px 40px;
    height: 52px;
}

.partners {
    padding: 50px 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners__title {
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
}

.partners__subtitle {
    font-size: 20px;
    max-width: 570px;
    line-height: 30px;
    margin-bottom: 50px;
    letter-spacing: 0.2px;
    text-align: center;
}

.partners__icons {
    max-width: 835px;
    max-height: 70px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 74px;
}

.partners__button {
    min-width: 175px;
    padding: 14px 40px;
    height: 52px;
}

.testimonials {
    padding: 50px 0 30px 0;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials__title {
    font-size: 52px;
    line-height: 62px;
    margin-bottom: 50px;
    letter-spacing: 0.2px;
}

.testimonials__cards {
    max-width: 885px;
    list-style: none;
    column-count: 2;
}

.testimonials__card {
    padding: 40px;
    max-width: 430px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: inline-block;
    gap: 12px;
    margin-bottom: 20px;
    width: 100%;
}

.testimonials__card-user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.card-user__avatar {
    margin-right: 13px;
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.card-user__info {
    font-weight: 500;
}

.card-user__info-name {
    display: block;
}

.testimonials__card-feedback {
    max-width: 320px;
}

.promo {
    padding: 80px 0;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.promo__content {
    min-width: 1220px;
    min-height: 370px;
    border-radius: 33px;
    background-color: #343434;
    display: flex;
    justify-content: space-between;
}

.promo__content-trial {
    align-self: center;
    padding: 17px 0 17px 94px;
}

.content-trial__title {
    max-width: 480px;
    font-size: 52px;
    line-height: 62px;
    letter-spacing: 0.2px;
    margin-bottom: 37px;
}

.content-trial__btn {
    min-width: 235px;
    padding: 14px 67px;
    height: 52px;
}

.promo__content-image {
    border-top-right-radius: 33px;
    border-bottom-right-radius: 33px;
    padding-top: 39px;
}

.footer {
    padding: 107px 0;
}

.footer-content {
    max-width: 1030px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}

.footer-list {
    min-width: 515px;
    display: flex;
    gap: 75px;
    list-style: none;
}

.footer-list__item {
    min-width: 120px;
}

.footer-list__item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.1px;
    margin-bottom: 40px;
}

.footer-sublist {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer-sublist__link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.contacts__data {
    font-style: normal;
}

.contacts__location, .contacts__phone {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.contacts__location::before {
    content: "";
    display: inline-block;
    background-size: cover;
    margin-right: 8px;
    width: 46px;
    height: 46px;
    background-image: url('../assets/icons/footer/map.svg');
}

.contacts__phone::before {
    content: "";
    display: inline-block;
    background-size: cover;
    margin-right: 8px;
    width: 35px;
    height: 35px;
    background-image: url('../assets/icons/footer/phone.svg');
}

.social-media {
    max-width: 175px;
    padding: 20px 0;
    display: flex;
    gap: 24px;
    list-style: none;
}

.social-media__icon {
    width: 41px;
    height: 41px;
}
